{% extends "base.html.twig" %}

{% block title %}
    Il y a erreur !
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt-5 py-5">
        {% if (message is defined) and (message != null) %}
            {{dump(message)}}
        {% else %}
            {{dump("Problème inconnu !")}}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}